<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Mayhem For Money</title>
		<link rel="stylesheet" href="ui.css" />
		<link rel="stylesheet" href="normalize.css" />
	</head>
	<body>
		<div id="container">
			<div id="game-window">
				<tw-story tags></tw-story>
				<tw-storydata name="test" startnode="1" creator="Twine" creator-version="2.3.14" ifid="4803BE1A-73D8-4022-B367-B015EDAF7B64" zoom="1" format="Snowman" format-version="2.0.2" options="" hidden>
					<style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style>
					<script role="script" id="twine-user-script" type="text/twine-javascript"></script>
					<tw-passagedata pid="1" name="Intro" tags="" position="0,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">Round 2, kiddies! The first round had its thrills, chills and spills, Let’s see what Round 2 holds for us.</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Intro2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="2" name="Intro2" tags="" position="100,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">Personally, I’m hoping for Grills. I’m starving</div>
						<img class="chuck" src="chuck.png" />
						<span class="next">[[Next|Intro3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="3" name="Intro3" tags="" position="200,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">Just like you to want to light something on fire, Chuck!</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Intro4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="4" name="Intro4" tags="" position="300,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">Anyways, the second round has us move closer to the city center. More people, more buildings, more chances for Maaaaaayheeeeeem!</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Intro5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="5" name="Intro5" tags="" position="400,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">But our brave contestant had better watch out! Our hunters are hot on their tail, and given the substantial bounty they’ve racked up so far, our hunters have plenty of incentive to bring them down!</div>
						<img class="chuck" src="chuck.png" />
						<span class="next">[[Next|Intro6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="6" name="Intro6" tags="" position="500,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">But if they use that gorgeous little melon of theirs, they may yet stay one step ahead of the hounds! Can Our contestant cause enough damage and rack up enough Dollary-doos to come out on top? Find out on round two of...</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Intro7]]</span>
					</tw-passagedata>
					<tw-passagedata pid="7" name="Intro7" tags="" position="600,0" size="100,100">
						<img class="speaker" src="speaker.png" />
						<div class="announcer">MAYHEM FOR MONEY!</div>
						<img class="chuck" src="chuck.png" />
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|ChoiceIntro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="8" name="ChoiceIntro1" tags="" position="700,0" size="100,100">
						<div class="script">Just looking about the street that you're on, a couple of options for criminal activities come to your mind. Keeping in mind that you're being chased and you want to gain as much of a bounty as possible, you weigh your options.</div>
						<span class="next">[[Next|Choice1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="9" name="Choice1" tags="" position="800,0" size="100,100">
						<div class="crimes">
							[[Mug the vulnerable-looking pedestrian|Mugging1-1]]
							[[Break into the apartment with an open window|Burglary1-1]]
						</div>
					</tw-passagedata>
					<tw-passagedata pid="10" name="Mugging1-1" tags="" position="0,100" size="100,100">
						<div class="script">It looks as though there's nobody else nearby, aside from the incoming woman. You slump against the wall casually, as though you're just idling on the street. She continues to approach, purse in hand, chattering to somebody on the other end of her tele-chip. She doesn't even seem to notice your presence.</div>
						<span class="next">[[Next|Mugging1-2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="11" name="Mugging1-2" tags="" position="100,100" size="100,100">
						<div class="script">This... feels wrong. You take a breath and remind yourself that you need to do this for your family.</div>
						<span class="next">[[Next|Mugging1-3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="12" name="Mugging1-3" tags="" position="200,100" size="100,100">
						<div class="script">As she passes by, you grab her wrist and throw her against the wall. She gasps, instinctively putting her hands up in surrender, but doesn't scream. At a glance, you can see the fear in her eyes.</div>
						<span class="next">[[Next|Mugging1-4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="13" name="Mugging1-4" tags="" position="300,100" size="100,100">
						<div class="script">Without saying a word, you yank the purse off of her arm. She doesn't fight it; just whimpers a little, her eyes flickering to the camera drones above you.</div>
						<span class="next">[[Next|Mugging1-5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="14" name="Mugging1-5" tags="" position="400,100" size="100,100">
						<div class="script">Your heart leaps into your chest as you hear a voice on the other end of the tele-chip, escalating in pitch. It's only a matter of time before this woman starts talking.</div>
						<span class="next">[[Next|Mugging1-6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="15" name="Mugging1-6" tags="" position="500,100" size="100,100">
						<div class="script">Your legs move before you have a chance to consider your next action. You run; street after street until you're out of breath, finally pausing to catch your breath in an alley.</div>
						<span class="next">[[Next|ChoiceIntro2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="16" name="Burglary1-1" tags="" position="600,100" size="100,100">
						<div class="script">You cautiously approach the open window. It seems to be silent inside. It doesn't take much to slide the window up a bit more, but you suppress a wince as it squeaks a bit.</div>
						<span class="next">[[Next|Burglary1-2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="17" name="Burglary1-2" tags="" position="700,100" size="100,100">
						<div class="script">It's still silent inside. Slowly, you heave yourself to the sill and climb inside. The drones following you zip through after you.</div>
						<span class="next">[[Next|Burglary1-3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="18" name="Burglary1-3" tags="" position="800,100" size="100,100">
						<div class="script">You take a minute looking carefully in case someone's here, but remind yourself not to take too long as you're still being pursued.</div>
						<span class="next">[[Next|Burglary1-4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="19" name="Burglary1-4" tags="" position="900,100" size="100,100">
						<div class="script">Thankfully, it looks as though whomever lives here is not at home and just left their window open, so you're able to take your time and search the apartment for anything expensive.</div>
						<span class="next">[[Next|Burglary1-5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="20" name="Burglary1-5" tags="" position="1000,100" size="100,100">
						<div class="script">You are able to find a good amount of money stashed under the mattress in an envelope marked “Rainy Day Fund” and stash it in your jacket.</div>
						<span class="next">[[Next|Burglary1-6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="21" name="Burglary1-6" tags="" position="1100,100" size="100,100">
						<div class="script">Returning to the window, you try not to look at the wall of pictures featuring two young children. The drones don't share your sense of guilt.</div>
						<span class="next">[[Next|Burglary1-7]]</span>
					</tw-passagedata>
					<tw-passagedata pid="22" name="Burglary1-7" tags="" position="1200,100" size="100,100">
						<div class="script">As your feet hit the sidewalk, a car pulls up. You move without thinking, breaking into a sprint. Street after street, you run until you're out of breath, finally pausing to catch your breath in an alley.</div>
						<span class="next">[[Next|ChoiceIntro2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="23" name="Theft1-1" tags="" position="1300,100" size="100,100">
						Double-click this passage to edit it.
					</tw-passagedata>
					<tw-passagedata pid="30" name="ChoiceIntro2" tags="" position="0,200" size="100,100">
						<div class="script">Stepping out to the quiet street, still breathing heavily, you look about for your next course of action.</div>
						<span class="next">[[Next|Choice2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="31" name="Choice2" tags="" position="100,200" size="100,100">
						<div class="crimes">
							[[Mug the thin, scrappy-looking kid tagging a building|Ramon1-1]]
							[[Break into the nearby vehicle and steal any valuables|Ramon1-1]]
							[[Rob the grocer with an empty parking lot|Ramon1-1]]
						</div>
					</tw-passagedata>
					<tw-passagedata pid="32" name="Ramon1-1" tags="" position="0,300" size="100,100">
						<div class="script">As you begin to take a step, you hear the familiar click of a pulse revolver being cocked from right behind you. Your heart stops and you freeze.</div>
						<span class="next">[[Next|Ramon1-2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="33" name="Ramon1-2" tags="" position="100,300" size="100,100">
						<div class="hunter">Let's see them hands o' yers like yer tryin'a give the lord above a back scratch... slowly, now. Ya don't want to scare mah trigger finger now, do ya?</div>
						<span class="next">[[Next|Ramon1-3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="34" name="Ramon1-3" tags="" position="200,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">You obey, turning slowly, hands raised. Behind you stands a man who could have easily walked right out of one of those old western films.</div>
						<span class="next">[[Next|Ramon1-4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="35" name="Ramon1-4" tags="" position="300,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="hunter">You led me on quite the chase didn’t you? I respect ye for that moxie, but I do always get my mark.</div>
						<span class="next">[[Next|Ramon1-5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="36" name="Ramon1-5" tags="" position="400,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">He winks, and you frantically run through your options. Fuckin' bounty hunters.</div>
						<span class="bountyOption">[[Bribe Him|bribe-success1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="37" name="bribe-success1" tags="" position="500,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">You stutter a bit as you offer the man a chunk of your bounty. 10%...</div>
						<span class="next">[[Next|bribe-success2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="38" name="bribe-success2" tags="" position="600,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">Your breath hitches as you use subtle sign language to suggest 10% of your success. To your comfort, his eyebrows raise and he whistles low.</div>
						<span class="next">[[Next|bribe-success3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="39" name="bribe-success3" tags="" position="700,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="hunter">10% of yer final payout? Shoot, you must be REAL desperate, huh?</div>
						<span class="next">[[Next|bribe-success4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="40" name="bribe-success4" tags="" position="800,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">He holds out his other arm, palm down, dispaying the screen input on his forearm. You nod, slowly lowering your hands to access your own, bringing up the account and setting a pending transfer of 10%. </div>
						<span class="next">[[Next|bribe-success5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="41" name="bribe-success5" tags="" position="900,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="script">He nods, lowering his weapon and locking the transfer. Your heart rate lowers as the weapon gets holstered. Suddenly, he stumbles backwards, hand over his eyes.</div>
						<span class="next">[[Next|bribe-success6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="42" name="bribe-success6" tags="" position="1000,300" size="100,100">
						<img class="ramon" src="ramon.png" />
						<div class="hunter">You god-darn snake-in-the-grass! It’ll take me at least FIVE MINUTES to clear out all that sand you THREW IN MY EYES.</div>
						<span class="next">[[Next|bribe-success7]]</span>
					</tw-passagedata>
					<tw-passagedata pid="43" name="bribe-success7" tags="" position="1100,300" size="100,100">
						<div class="script">You don’t wait around to see him wink between his fingers. Within seconds, you're well out of sight, pursued by a few cam-drones.</div>
						<span class="next">[[Next|ChoiceIntro3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="44" name="ChoiceIntro3" tags="" position="1200,300" size="100,100">
						<div class="script">You slow down under a lightway bridge. Never thought you'd run this much for a TV show. Looking about, you take note of your current options.</div>
						<span class="next">[[Next|Choice3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="45" name="Choice3" tags="" position="1300,300" size="100,100">
						<div class="crimes">
							[[Mug the rich couple chatting over a stroller|Mugging3-1]]
							[[Break into the tech shop|Burglary3-1]]
						</div>
					</tw-passagedata>
					<tw-passagedata pid="46" name="Mugging3-1" tags="" position="0,400" size="100,100">
						<div class="script">You approach the couple, trying to stay as out-of-sight as possible. A length of rusted pipe catches your eye and you grab it.</div>
						<span class="next">[[Next|Mugging3-2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="47" name="Mugging3-2" tags="" position="100,400" size="100,100">
						<div class="script">The woman notices you a few paces away and gasps, startling the young man. You brandish the pipe as he spins around.</div>
						<span class="next">[[Next|Mugging3-3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="48" name="Mugging3-3" tags="" position="200,400" size="100,100">
						<div class="script">You make a vague threat to the both of them and imply that the child won't survive unless they hand over their cash. They do so immediately, the woman beginning to hyperventilate.</div>
						<span class="next">[[Next|Mugging3-4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="49" name="Mugging3-4" tags="" position="300,400" size="100,100">
						<div class="script">You back away, one hand curled around their belongings, the other still brandishing the pipe. At a reasonable distance, you turn and drop the pipe, breaking into a run.</div>
						<span class="next">[[Next|Outro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="50" name="Burglary3-1" tags="" position="400,400" size="100,100">
						<div class="script">The building looks all but abandoned, boards covering the only window under the broken neon sign. “Nelly’s Naughting Networking Nook”. You haven't even heard of this place.</div>
						<span class="next">[[Next|Burglary3-2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="51" name="Burglary3-2" tags="" position="500,400" size="100,100">
						<div class="script">Kicking aside the fake rock outside the door reveals a key, which you quickly discover works perfectly in the lock. You half-expect an alarm to sound as the door swings open in front of you, but you hear nothing.</div>
						<span class="next">[[Next|Burglary3-3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="52" name="Burglary3-3" tags="" position="600,400" size="100,100">
						<div class="script">Looking about, you see a good amount of expensive hardware laying around, but most is far too big to carry out. There look to be some boxes behind the counter, though.</div>
						<span class="next">[[Next|Burglary3-4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="53" name="Burglary3-4" tags="" position="700,400" size="100,100">
						<div class="script">You pocket some expensive processors you can take with you and a small amount of cash from the register before checking the tiny office in the back.</div>
						<span class="next">[[Next|Burglary3-5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="54" name="Burglary3-5" tags="" position="800,400" size="100,100">
						<div class="script">Rummaging through the drawers, you find a few flash drives with various vaguely hazard-looking markings on them. You're not entirely sure what they are, but you doubt it’s anything good. Could be useful, so you stash them in your pocket and make your way out.</div>
						<span class="next">[[Next|Outro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="55" name="Theft3-1" tags="" position="900,400" size="100,100">
						Double-click this passage to edit it.
					</tw-passagedata>

					<tw-passagedata pid="60" name="Outro1" tags="" position="0,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">And there you have it! Looks like our contestant is holding back a bit, but hanging on!</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Outro2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="61" name="Outro2" tags="" position="100,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">Just about thought they were about to fail when that hunter showed up, but it looks like they got some wits.</div>
						<img class="chuck" src="chuck.png" />
						<span class="next">[[Next|Outro3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="62" name="Outro3" tags="" position="200,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">They're performing pretty well, but I suspect they'll have to take a few more drastic risks in the next round if they REALLY want to perform.</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Outro4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="63" name="Outro4" tags="" position="300,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">Definitely, definitely. I'll be honest though, things have been a little boring so far.</div>
						<img class="chuck" src="chuck.png" />
						<span class="next">[[Next|Outro5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="64" name="Outro5" tags="" position="400,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">Haha! Now, now, cool your thrusters, grump'ums! I mean, they might just be waiting until the end to really pull out the stops!</div>
						<img class="reggie" src="reggie.png" />
						<span class="next">[[Next|Outro6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="65" name="Outro6" tags="" position="500,500" size="100,100">
						<span class="hidden"><% s.speaker = true %></span>
						<div class="announcer">Let's hope so. Join us to find out after these messages from our sponsors!</div>
						<img class="chuck" src="chuck.png" />
						<span class="next">[[Next|End]]</span>
					</tw-passagedata>
					<tw-passagedata pid="66" name="End" tags="" position="600,500" size="100,100">
						<div class="script end">Thank you for playing!</div>
					</tw-passagedata>
				</tw-storydata>
			</div>
		</div>
		<script src="js.js"></script>
		<script src="format.js"></script>
	</body>
</html>
