<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Mayhem For Money</title>
		<link rel="stylesheet" href="css/ui.css" />
		<link rel="stylesheet" href="css/normalize.css" />
	</head>
	<body>
		<div id="container">
			<div id="game-window">
				<tw-story tags></tw-story>
				<tw-storydata name="test" startnode="1" creator="Twine" creator-version="2.3.14" ifid="4803BE1A-73D8-4022-B367-B015EDAF7B64" zoom="1" format="Snowman" format-version="2.0.2" options="" hidden>
					<style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style>
					<script role="script" id="twine-user-script" type="text/twine-javascript"></script>

					<!------------------------------------------------------------------->
					<!--                GAME INTRODUCTION AND ANNOUNCERS               -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="1" name="Intro1" tags="" position="0,0" size="100,100">
						<div class="script">Breathe in... count to four.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|Intro2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="2" name="Intro2" tags="" position="0,0" size="100,100">
						<div class="script">Breathe out... count to four.</div>
						<span class="next">[[Next|Intro3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="3" name="Intro3" tags="" position="0,0" size="100,100">
						<div class="script">The cheering of the crowd settles somewhere into the back of your mind as the boom of the speakers matches the pounding thrum in your chest. The game is about to begin.</div>
						<span class="next">[[Next|Intro4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="4" name="Intro4" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">[KRSCHH--]</div>
						<span class="next">[[Next|Intro5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="5" name="Intro5" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Ladies! Gentlemen! That lovely, LOVELY technicolor rainbow in-between!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="6" name="Intro6" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Welcome, one and all, to another thrilling edition of-- and say it with me now...</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro7]]</span>
					</tw-passagedata>
					<tw-passagedata pid="7" name="Intro7" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer big">MAYHEM! FOR! MONEY!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro8]]</span>
					</tw-passagedata>
					<tw-passagedata pid="8" name="Intro8" tags="" position="0,0" size="100,100">
						<div class="script">This isn't about you, you remind yourself. This is all for your family. With the prize in hand, they may finally have a chance to leave the slums. A chance for comfort.</div>
						<span class="next">[[Next|Intro9]]</span>
					</tw-passagedata>
					<tw-passagedata pid="9" name="Intro9" tags="" position="0,0" size="100,100">
						<div class="script">You let out a shaky breath, trying not to think about the moral efficacy of what you're about to do. You mouth a silent prayer who whomever might be listening that you may keep your soul throughout this...</div>
						<span class="next">[[Next|Intro10]]</span>
					</tw-passagedata>
					<tw-passagedata pid="10" name="Intro10" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">HA HA! What fun! I’m your host-with-the-most, Reginald Cyde! Aaand joining me once again is my rugged counterpart, Chuck Arson!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro11]]</span>
					</tw-passagedata>
					<tw-passagedata pid="11" name="Intro11" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Howdy, howdy-ho. Happy to be here, Reg.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro12]]</span>
					</tw-passagedata>
					<tw-passagedata pid="12" name="Intro12" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">In the - albiet unlikely - event that our viewers have yet to view a SINGLE installment of our world-renowned program, why don’t you fill them in on the rules, Chuck?</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro13]]</span>
					</tw-passagedata>
					<tw-passagedata pid="13" name="Intro13" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Happy to, Reggie.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro14]]</span>
					</tw-passagedata>
					<tw-passagedata pid="14" name="Intro14" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">The title of the show is also its basic premise. Each show, one unfortunate is plucked from the depths of the Favela and released into a random environment of our choosing.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro15]]</span>
					</tw-passagedata>
					<tw-passagedata pid="15" name="Intro15" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Through the show, they are encouraged to rob, pillage, and pilfer to their heart's content in order to rack up as high of a bounty as they can manage. And - of course, however much cash as they can get their dirty little paws on, ha ha.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro16]]</span>
					</tw-passagedata>
					<tw-passagedata pid="16" name="Intro16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">But don’t think this miscreant disruption to polite society goes unchallenged! We have three of the hardest bounty hunters we could find, strategically placed throughout the environment to chase our contestant down and put an end to their glorious rampage.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="17" name="Intro17" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">The more mayhem the contestant causes before being caught, the higher their score and the bounty payout at the end.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro18]]</span>
					</tw-passagedata>
					<tw-passagedata pid="18" name="Intro18" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">One last thing before we get started! As much as we wish we could pardon our contestants, their actions will be a bit... ehhh... inappropriate. Illegal, even. They might win enough to be set up for life, but that life will be spent behind bars.</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro19]]</span>
					</tw-passagedata>
					<tw-passagedata pid="19" name="Intro19" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Indeed, Reggie. As such, their payout will be sent to their next of kin. Which would be a great boon - especially in this economy.</div>
						<img class="chuck" src="images/chuck.png" />
						<span class="next">[[Next|Intro20]]</span>
					</tw-passagedata>
					<tw-passagedata pid="20" name="Intro20" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Haha! Indeed, Chuck!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro21]]</span>
					</tw-passagedata>
					<tw-passagedata pid="21" name="Intro21" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">And now... with all that boring administrative guff out of the way...</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro22]]</span>
					</tw-passagedata>
					<tw-passagedata pid="22" name="Intro22" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer big">WHO’S READY FOR SOME MAYHEEEMMMMM</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|Intro23]]</span>
					</tw-passagedata>
					<tw-passagedata pid="23" name="Intro23" tags="" position="0,0" size="100,100">
						<div class="script">A pistol pops off and the roar of the crown reaches a crescendo. Your heart stops beating for a second, then leaps into your throat. The game has begun.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|Intro24]]</span>
					</tw-passagedata>
					<tw-passagedata pid="24" name="Intro24" tags="" position="0,0" size="100,100">
						<div class="script">You jerk into movement, running out into the street, a fleet of camera-drones above your head. Looking about the street, you begin running through your options. Where to start, what to do?</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Crimes1]]</span>
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                FIRST ROUND - FIRST SET OF CRIMES              -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="100" name="R1Crimes1" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="graffiti">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Graffit</div>
										<div class="crimeDesc">Deface some buildings</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$500</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="Rob Appartment">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Burglary</div>
										<div class="crimeDesc">Search an appartment for valuables</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">5 minutes</div>
										<div class="crimePayout">$6000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="Hot Dog Rob">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Rob food vendor</div>
										<div class="crimeDesc">That hotdog stand might have cash</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$700</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="101" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="100" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="100" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--               FIRST ROUND - SECOND SET OF CRIMES              -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="200" name="R1Crimes2" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="Keying Cars">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Keying Cars</div>
										<div class="crimeDesc">Those cars over there? Fuck 'em</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$600</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="Arson Rest">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">You bet that grease trap is flamable</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">4 minutes</div>
										<div class="crimePayout">$1000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="Rob Groc">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Robbery</div>
										<div class="crimeDesc">Stick up a Grocery store</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$4000</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="201" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="200" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="200" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                FIRST ROUND - THIRD SET OF CRIMES              -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="300" name="R1Crimes3" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="steal food">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Steal a hotdog </div>
										<div class="crimeDesc">You're Hungry</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="MugWom">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Mugging</div>
										<div class="crimeDesc">They look like an easy target</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★</div>
										<div class="crimeTime">3 minutes</div>
										<div class="crimePayout">$1000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="Arson Arp">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">Burn down That appartment building</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">5 minutes</div>
										<div class="crimePayout">$9000</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="301" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="300" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="300" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--    FIRST INTER-ROUND INTERLUDE AND SECOND ROUND INTRODUCTION  -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="400" name="R1Interlude1" tags="" position="0,0" size="100,100">
						<div class="script">You catch your breath after your last score and prepare to count your cash when you flinch as you're suddenly drenched in blinding light. Shielding your eyes as they adjust, you suddenly find a microphone pushed in your face.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="401" name="R1Interlude2" tags="" position="0,0" size="100,100">
						<div class="hunter">And that concludes round one! So far, you’ve completed a handful of crimes and have raised a bounty of <%= bounty %>. How do you feel?</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="402" name="R1Interlude3" tags="" position="0,0" size="100,100">
						<div class="crimes">
							[[Tell her you're feeling optimistic|R1Interlude4]]
							[[Tell her you're feeling on-edge|R1Interlude4]]
							[[Stay silent|R1Interlude4]]
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>
					<tw-passagedata pid="403" name="R1Interlude4" tags="" position="0,0" size="100,100">
						<div class="script">She doesn't even acknowledge you, barrelling on through what's obviously a script.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="404" name="R1Interlude5" tags="" position="0,0" size="100,100">
						<div class="hunter">Excellent, excellent! You’ve survived so far, but can you keep up the momentum, especially with our hunters getting ever closer? We’ll find out in round 2!</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="405" name="R1Interlude6" tags="" position="0,0" size="100,100">
						<div class="script">As soon as the director calls cut, her plastic smile evaporates and she lights up a cigarette.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude7]]</span>
					</tw-passagedata>
					<tw-passagedata pid="406" name="R1Interlude7" tags="" position="0,0" size="100,100">
						<div class="hunter">I’d get running if I was you, Meat.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude8]]</span>
					</tw-passagedata>
					<tw-passagedata pid="407" name="R1Interlude8" tags="" position="0,0" size="100,100">
						<div class="script">Though rude, she’s not wrong. You turn from her rolled eyes and jog casually out of the alley and begin down the highway towards the skyscrapers of downtown looming in the distance.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude9]]</span>
					</tw-passagedata>

					<tw-passagedata pid="408" name="R1Interlude9" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">[KRSCHH--]</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude10]]</span>
					</tw-passagedata>
					<tw-passagedata pid="409" name="R1Interlude10" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Round 2 kiddies! The first round had its thrills, chills and spills, Let’s see what Round 2 has in store for us!</div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude11]]</span>
					</tw-passagedata>
					<tw-passagedata pid="410" name="R1Interlude11" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Probably more thrills and chills but personally, I’m hoping for grills. I’m starved.</div>
						<img class="chuck" src="images/chuck.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude12]]</span>
					</tw-passagedata>
					<tw-passagedata pid="411" name="R1Interlude12" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Haha, just like you to want to light something on fire, Chuck! </div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude13]]</span>
					</tw-passagedata>
					<tw-passagedata pid="412" name="R1Interlude13" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Anywhoo, round 2 has us move closer to the city center. More people, more buildings, more chances for Maaaaaayheeeeeem!</div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude14]]</span>
					</tw-passagedata>
					<tw-passagedata pid="413" name="R1Interlude14" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">But our contestant better watch out! Our hunters are hot on their tail, and given the bounty they’ve racked up so far, our hunters have PLENTY of incentive to bring them down!</div>
						<img class="chuck" src="images/chuck.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude15]]</span>
					</tw-passagedata>
					<tw-passagedata pid="414" name="R1Interlude15" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">But if they use that gorgeous little melon of theirs, they may stay one step ahead of the hounds!</div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R1Interlude16]]</span>
					</tw-passagedata>
					<tw-passagedata pid="416" name="R1Interlude17" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer big">MAYHEM FOR MONEY!</div>
						<img class="chuck" src="images/chuck.png" />
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Crimes1]]</span>
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                SECOND ROUND - FIRST SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="500" name="R2Crimes1" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="Arson M">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">Burn down mechanics shop</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="501" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="500" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="500" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--               SECOND ROUND - SECOND SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="600" name="R2Crimes2" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="601" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="600" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="600" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                SECOND ROUND - THIRD SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="700" name="R2Crimes3" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="LoremIpsum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">LoremIpsum</div>
										<div class="crimeDesc">LoremIpsum</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">2 minutes</div>
										<div class="crimePayout">$0</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="701" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="700" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="700" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--    SECOND INTER-ROUND INTERLUDE AND THIRD ROUND INTRODUCTION  -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="700" name="R2Interlude1" tags="" position="0,0" size="100,100">
						<div class="script">After completing your last objective, you set back out to find more. You do not get far before a camera crew, a reporter and two crew members holding a large box behind approach from around the corner.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude2]]</span>
					</tw-passagedata>
					<tw-passagedata pid="701" name="R2Interlude2" tags="" position="0,0" size="100,100">
						<div class="hunter">It’s time for your round 2 BONUS! Complete this simple task for a $1,000,000 bounty boost! That should give you a shot in the arm! And speaking of a shot...</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude3]]</span>
					</tw-passagedata>
					<tw-passagedata pid="702" name="R2Interlude3" tags="" position="0,0" size="100,100">
						<div class="script">The crew members haul a person dressed in a prison jumpsuit out of the box. He’s gagged and from the glazed look in his eyes, heavily sedated. The Reporter reaches behind her back and draws a pistol. Spinning it dexterously in her hand, she offers it to you, handle first.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude4]]</span>
					</tw-passagedata>
					<tw-passagedata pid="703" name="R2Interlude4" tags="" position="0,0" size="100,100">
						<div class="hunter">Someone was a veeerrry naughty boy, and lucky you! YOU get to dispense some street justice!</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude5]]</span>
					</tw-passagedata>
					<tw-passagedata pid="704" name="R2Interlude5" tags="" position="0,0" size="100,100">
						<div class="script">You take the gun hesitantly and stare at it in your shaking hand. What the fuck?!</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude6]]</span>
					</tw-passagedata>
					<tw-passagedata pid="705" name="R2Interlude6" tags="" position="0,0" size="100,100">
						<div class="crimes">
							[[Shoot the criminal|R2Interlude7]]
							[[Refuse to shoot|R2Interlude12]]
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<tw-passagedata pid="706" name="R2Interlude7" tags="" position="0,0" size="100,100">
						<div class="script">You take a few deep breaths and aim the gun. After a few moments you gather your nerve. Silently reminding yourself that you're only doing this damn show for your family, you pull the trigger.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude8]]</span>
					</tw-passagedata>
					<tw-passagedata pid="707" name="R2Interlude8" tags="" position="0,0" size="100,100">
						<div class="script">The recoil thrusts you backwards into the brick wall as the man hits the ground, dead by your hand. As his blood trickles into the gutter, two nearby tiny cannons fire red confetti and an upbeat song plays from nearby speakers.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude9]]</span>
					</tw-passagedata>
					<tw-passagedata pid="708" name="R2Interlude9" tags="" position="0,0" size="100,100">
						<div class="hunter">And we have a winner, Folks! That’s another one MILLION buck-a-roos to your Mayhem-omiter (patent pending)!</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude10]]</span>
					</tw-passagedata>
					<tw-passagedata pid="709" name="R2Interlude10" tags="" position="0,0" size="100,100">
						<div class="hunter">You are now in the final round and have access to the city center! Lots of banks, Luxury goods and big businesses! Don’t forget those hunters. Good Luck.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude11]]</span>
					</tw-passagedata>
					<tw-passagedata pid="710" name="R2Interlude11" tags="" position="0,0" size="100,100">
						<div class="script">With that, the director calls cut and the crew packs up, leaving the body where it fell. You stare at it for probably far too long before towards the city center and begin moving, limbs feeling numb.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude18]]</span>
					</tw-passagedata>

					<tw-passagedata pid="711" name="R2Interlude12" tags="" position="0,0" size="100,100">
						<div class="script">You think of your family's disappointed and horrified faces, and for half a second, you wonder if this man's position is your eventual fate...</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude13]]</span>
					</tw-passagedata>
					<tw-passagedata pid="712" name="R2Interlude13" tags="" position="0,0" size="100,100">
						<div class="script">You look at the reporter and shake your head, lowering the gun. You can’t do it. The money would be incredible, but... no. Fuck that. Your daughter is probably watching. You’ll find another way to help her.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude14]]</span>
					</tw-passagedata>
					<tw-passagedata pid="713" name="R2Interlude14" tags="" position="0,0" size="100,100">
						<div class="script">Nearby speakers you hadn’t noticed play a low tune that drips disappointment.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude15]]</span>
					</tw-passagedata>
					<tw-passagedata pid="714" name="R2Interlude15" tags="" position="0,0" size="100,100">
						<div class="hunter">Awww, looks like we have a real party pooper on our hands. How disappointing! Have it your way, then.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude16]]</span>
					</tw-passagedata>
					<tw-passagedata pid="715" name="R2Interlude16" tags="" position="0,0" size="100,100">
						<div class="hunter">Either way, you are now in the final round and have access to the city center! Lots of banks, luxury goods and big businesses! Don’t forget those hunters!</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="716" name="R2Interlude17" tags="" position="0,0" size="100,100">
						<div class="script">With that, the director calls cut and the crew packs up, hauling the man in the jumpsuit back into his box. You watch as the bus chugs out of sight, before turning and moving towards the city center.</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude18]]</span>
					</tw-passagedata>

					<tw-passagedata pid="717" name="R2Interlude18" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">[KRSCHH--]</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude19]]</span>
					</tw-passagedata>
					<tw-passagedata pid="718" name="R2Interlude19" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">We have arrived in the home stretch!</div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude20]]</span>
					</tw-passagedata>
					<tw-passagedata pid="719" name="R2Interlude20" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Can our fearless contestant secure a strong finish or are they destined to fall at the last hurtle?</div>
						<img class="reggie" src="images/reggie.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude21]]</span>
					</tw-passagedata>
					<tw-passagedata pid="720" name="R2Interlude21" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">It could go either way, Regg-o. Our hunters certainly want a piece of that action, and they close in every second. Can they clinch the catch? Or will our contestant secure victory and glory?</div>
						<img class="chuck" src="images/chuck.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R2Interlude22]]</span>
					</tw-passagedata>
					<tw-passagedata pid="721" name="R2Interlude23" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Keep watching to find out!</div>
						<img class="chuck" src="images/chuck.png" />
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
						<span class="next">[[Next|R3Crimes1]]</span>
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                 THIRD ROUND - FIRST SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="900" name="R3Crimes1" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="BurgTech">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Burglary</div>
										<div class="crimeDesc">There's probably valuables in that tech shop</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">6 minutes</div>
										<div class="crimePayout">$20000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="ArsonRest">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">They serve spicy food, lets turn up the heat</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">6 minutes</div>
										<div class="crimePayout">$35000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="ArtGallery">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Property destruction</div>
										<div class="crimeDesc">Trash a small art gallery</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★</div>
										<div class="crimeTime">5 minutes</div>
										<div class="crimePayout">$40000</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="901" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="900" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="900" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                THIRD ROUND - SECOND SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="1000" name="R3Crimes2" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="CarJack">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Steal a car</div>
										<div class="crimeDesc">The hunters are closing in, you need some distance</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★</div>
										<div class="crimeTime">3 minutes</div>
										<div class="crimePayout">$4000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="ArsonHouse">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">Burnin' down the house</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">5 minutes</div>
										<div class="crimePayout">$50000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="BankRob">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Bank Robbery</div>
										<div class="crimeDesc">What better place to get money than a Bank? Time for a withdrawl!</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">9 minutes</div>
										<div class="crimePayout">$100000</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1001" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1000" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1000" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                 THIRD ROUND - THIRD SET OF CRIMES             -->
					<!------------------------------------------------------------------->

					<tw-passagedata pid="1100" name="R3Crimes3" tags="" position="0,0" size="100,100">
						<div class="crimes">
							<a href="javascript:void(0)" data-passage="Museum">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Museum Demolition</div>
										<div class="crimeDesc">Destroy irriplacible art and artifacts</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★</div>
										<div class="crimeTime">8 minutes</div>
										<div class="crimePayout">$80000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="ArsonArp">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Arson</div>
										<div class="crimeDesc">Burn down an appartment building</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★</div>
										<div class="crimeTime">6 minutes</div>
										<div class="crimePayout">$35000</div>
									</div>
								</div>
							</a>
							<a href="javascript:void(0)" data-passage="JewelRob">
								<div class="crime">
									<div class="crimeBasics">
										<div class="crimeName">Jewel Heist</div>
										<div class="crimeDesc">My Precious! Steal all the pretty gemstones from a jewellery store.</div>
									</div>
									<div class="crimeDeets">
										<div class="crimeDifficulty">★★★★★</div>
										<div class="crimeTime">7 minutes</div>
										<div class="crimePayout">$90000</div>
									</div>
								</div>
							</a>
						</div>
						<div id="danger">Danger: <%= dangerLevel %></div>
						<div id="bounty">Bounty: $<%= bountyTotal %></div>
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1101" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1100" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!-- LoremIpsum -->

					<tw-passagedata pid="1100" name="LoremIpsum" tags="" position="0,0" size="100,100">
					</tw-passagedata>

					<!------------------------------------------------------------------->
					<!--                   THIRD ROUND OUTRO AND ENDINGS               -->
					<!------------------------------------------------------------------->
					<!-- 1200-1300 -->

					<tw-passagedata pid="1200" name="Outro1" tags="" position="0,0" size="100,100">
						<div class="script">You panic as a limo pulls up beside you, but when the door opens, it's not a bounty hunter. One of the guards that was standing behind you at the beginning yells congratulations and gestures for you to get in.</div>
						<span class="next">[[Next|Outro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="1200" name="Outro1" tags="" position="0,0" size="100,100">
						<div class="script">Your heart pounds as you sit in stunned silence. There's gentle noises ouside the windows, but you don't notice them until the car stops and you gingerly get out.</div>
						<span class="next">[[Next|Outro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="1200" name="Outro1" tags="" position="0,0" size="100,100">
						<div class="script">You blink a few times in the sunlight, looking about more intently at the bleachers around you, packed with screaming fans. You spot the announcers in a nearby box before their voices begin to boom over the speakers.</div>
						<span class="next">[[Next|Outro1]]</span>
					</tw-passagedata>
					<tw-passagedata pid="408" name="R1Interlude9" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">[KRSCHH--]</div>
						<span class="next">[[Next|R1Interlude10]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">And that's that! Our contestant has performed admirably, but alas... all good things must come to an end.</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">It certainly was a good effort. But how do the cold, raw numbers look?</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Let's see... looks like they managed 9 crimes worth a bounty total of <%= bountyTotal %>.</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">And we couldn’t be prouder of them! Look at that precious face; you can tell they wish the game would go on forever!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Though unfortunately, that may well be because of what comes next...</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<div class="announcer">Triumphant closing music begins to blare over the speakers as a few security officers approach you followed closely by drones.</div>
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<img id="speaker" src="images/speaker.png" />
						<div class="announcer">Hail, contestant! We, the many faces among the pantheon of fortune, salute you!</div>
						<img class="reggie" src="images/reggie.png" />
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>
					<tw-passagedata pid="415" name="R1Interlude16" tags="" position="0,0" size="100,100">
						<div class="announcer">The security officers bind your wrists and ankles in cuffs, drones snapping away at pictures. As you're led away, you look out into the crowd, hoping to spot your family. You hope that what you did will be enough to help them.</div>
						<span class="next">[[Next|R1Interlude17]]</span>
					</tw-passagedata>

					<!-- ENDINGS BEGIN HERE -->



					<!------------------------------------------------------------------->
					<!--               BOUNTY HUNTER INTERACTIONS - HACKER             -->
					<!------------------------------------------------------------------->
					<!-- 1300-1400 -->

					<!------------------------------------------------------------------->
					<!--                BOUNTY HUNTER INTERACTIONS - RAMON             -->
					<!------------------------------------------------------------------->

					<!------------------------------------------------------------------->
					<!--                BOUNTY HUNTER INTERACTIONS - VIPER             -->
					<!------------------------------------------------------------------->

				</tw-storydata>
			</div>
		</div>
		<script src="js.js"></script>
		<script src="format.js"></script>
	</body>
</html>
